<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
      </section>
    </aside>
  <div class="span7">
    Pending stuff</br>
          - add test cases to existing testruns</br>
          - segregate test cases by pods/suites
  </div>  
</div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
    <div class="btn-group">
      <button id="vicky" class="btn">Pending</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>Passed</li>
        <li>Failed</li>
      </ul>
    </div>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %> 
