<% if signed_in? %>
<h3>    Pending stuff</h3>
·         High - Comments for every suite for every testrun. should appear on the dashboard. may have to make another associative model between suite and testrun</br>
·         High - breadcrumb on testrun create page.. side bar too</br>
·         High - Test case layout is bad</br>
·         High - I guess i need to find all the suites and pods that a testcase belongs to. what i can do is.. for each testcase, find it's pod and add it to an array if it does not already exist.. then for all those suites, finding the pods will be easy...</br>
·         High - testrun glyphicon</br>
·         Medium - Home page should show the flow of the app</br>
·         DONE: High - Testresult to be deleted if testcase or testrun deleted</br>
-         DONE:    High - Test case dropdowns - High</br>
·        DONE:  High - Capitalize the testrun name and undo uppercase - High</br>
·         High - Right align testrun results</br>
·         High - add INDEX - testcase in testresults and may be testruns</br>
·         High - Check headings of each page. Add some css</br>
·         DONE: Medium - Breadcrumbs on each page</br>
·         DONE: Medium - Testcase history - div on the right with charts</br>
·         Medium - Callback for testcase update</br>
·         Medium - Dashboard - highlight the selected testrun - addClass('active')</br>
·         High - Create testrun - distribute pods/suites/testcases in some divs</br>
·         High - Show testrun - in the empty pods, do not show table headings. Rather show a message. Not running this time. Also, may be in the testreport chart, say did not run </br>
         HIGH- Pod wise break of pending test cases</br>
          - have a common placeholder for h1 heading on all pages and yield in that</br>
          - HIGHCHARTS LICENSING $390 for single user.. http://shop.highsoft.com/highcharts.html</br>
          - Use Json and parse through jQuery</br>
          - Add css on the testrun new page to have bars across</br>
          - Add test cases to existing testruns</br>
          - DONE - Add dashboard to see the current testrun status </br>
          - Testrun show page - remove table headings when the suite does not have any testcase in the testrun </br>
          - Make web services for everything </br>
          - Add modals for creation and deletion </br>
          - Add comments field to testresults </br>
          - Add an attibute to show on the dashboard if there is a critical issue found </br>
          - DONE - Make layout fluid </br>
          - Ajax testing with Jasmine </br>
          - DONE -  segregate test cases by pods/suites </br>
          - DONE - optimize code in testresults controller 4->1 functions </br>
          -    </br>
<% end %>
