<% provide(:title,"Project #{@project.name}") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>Project - 
      <%= @project.name %></h1>
       <p> <%= link_to "Edit project details", edit_project_path(params[:id]) %></p>
    </section>
  </aside>
</div>

<!-- PENDING
Add a picture for a project.
See Gravatar for a user in app/views/users/show.html.erb
-->
