<% provide(:title, 'All testcases') %>
<h1>All testcases</h1>

<%= will_paginate %>

 <table class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Type</th>
        <th>Priority</th>
         <% if current_user.admin?  %>
       <th> delete?</th> <% end %>
      </tr>
             <%= render @testcases %>
      </table>
<%= will_paginate %>
