<li>
  <%= link_to pod.name, pod %>
  <% if current_user.admin?  %>
    | <%= link_to "delete", pod, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
