<% provide(:title, 'All testruns') %>

<% content_for :sidebar do %>
       <li> <%= link_to  new_testrun_path do %>
       	  <i class="icon-home"></i> Create new Testrun
       </li>
    <% end %>
     <% end %>

  
    <h1>All testruns</h1>

    <%= will_paginate %>

<ul class="users">
  <%= render @testruns  %>
</ul>

<%= will_paginate %>

