<% provide(:title,"Testrun #{@testrun.name}") %>

<% content_for :sidebar do %>
<li>
	<%= link_to  edit_testrun_path(params[:id]) do%>
                	<i class="icon-home"></i> Edit testrun details
                		<%end%>
</li>
<li>
	<%= link_to  '#' do%>
                	<i class="icon-home"></i> Add testcases
                		<%end%>
</li>

<% end %>
<h1>Testrun -
<%= @testrun.name %></h1>

<%= render "testresult"  %>

<!-- PENDING
Add a picture for a testrun.
See Gravatar for a user in app/views/users/show.html.erb
-->
